.frame {
    margin-left: 30%;
    width: 550px;
    height: 720px;
    background-color: black;
    border-radius: 30px;
}
.display {
    margin-left: 20px;
    width: 510px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
}
.result {
    margin-left: 10px;
    
}
.number {
    margin-left: 20px;
    width: 120px;
    height: 80px;
    background-color: orange;
    text-align: center;
    border-radius: 10px 0 0 0;
    margin-top: 120px;
    position: absolute;
    cursor: pointer;
}
.next {
    margin-top: 80px;
    position: absolute;
}